@import url('../src/assets/fonts/Satoshi/Fonts/WEB/css/satoshi.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Satoshi';
  src: url('../src/assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Bold.woff') format('truetype');
  font-weight: 300  900;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url('../src/assets/fonts/arial-font/arial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, #root, .app{
  overflow-x: hidden;
  @apply text-gray-500;
  font-family: Satoshi, sans-serif;
}

.card .props{
  font-family: Arial,  sans-serif;
}
.stories{
  font-family: Arial, sans-serif;
}