@import url('../src/assets/fonts/Satoshi/Fonts/WEB/css/satoshi.css');
@import url('../src/assets/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Satoshi';
  src: url('../src/assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Bold.woff2') format('woff2'),
       url('../src/assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Bold.woff') format('woff'),
       url('../src/assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Medium.woff2') format('woff2'),
       url('../src/assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Medium.woff') format('woff'),
       url('../src/assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Regular.woff2') format('woff2'),
       url('../src/assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Regular.woff') format('woff'),
       url('../src/assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Medium.woff2') format('woff2'),
       url('../src/assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Medium.woff') format('woff'),
       url('../src/assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Black.woff2') format('woff2'),
       url('../src/assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Black.woff') format('woff'),
       url('../src/assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Variable.woff2') format('woff2'),
       url('../src/assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Variable.woff') format('woff');
  font-weight: 300 400 500 600 700 800 900;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url('../src/assets/fonts/arial-font/arial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, #root, .app{
  overflow-x: hidden;
  @apply text-gray-500;
  font-family: Satoshi, sans-serif;
}

/* .card p{
  font-family: Satoshi-Medium, sans-serif;

} */
.card .props{
  font-family: Arial,  sans-serif;
}
.stories{
  font-family: Arial, sans-serif;
}

.card.active {
  background-color: transparent;
}
.transparent-background {
  background-color: transparent !important;
  transition: background-color 0.5s ease; 
}
